# Data handling
pandas==2.1.1
numpy==1.26.4
scipy==1.11.4

# Machine Learning
scikit-learn==1.4.2
xgboost==1.7.6
lightgbm==4.4.0
imbalanced-learn==0.12.4

# Visualization
matplotlib==3.8.1
seaborn==0.12.2
plotly==5.16.1

# Jupyter
jupyter==1.0.0
notebook==7.3.3
ipykernel==7.0.1

# Experiment tracking
mlflow==2.7.0

# Utility
python-dotenv==1.0.1
tqdm==4.66.1

# Optional (for explainability)
shap==0.42.1
